:host {
  display: flex;
}

.item {
  &.stat {
    flex: 3 3 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &.remove {
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
