<ng-container
  *ngIf="{
    todos: todos$ | async,
    pendingTodos: pendingTodos$ | async,
    completedTodos: completedTodos$ | async,
    todosCount: todosCount$ | async,
    pendingTodosCount: pendingTodosCount$ | async,
    completedTodosCount: completedTodosCount$ | async
  } as o"
>
  <div id="todoList">
    <div class="p-2 app-todo-section" *ngIf="(todoError$ | async); let error">
      <p class="text-danger">Error: {{ error }}</p>
    </div>
    <div class="p-2 app-todo-section">
      <todo-summary
        [todosCount]="o.todosCount"
        [pendingTodosCount]="o.pendingTodosCount"
        [completedTodosCount]="o.completedTodosCount"
      ></todo-summary>
    </div>
    <div *ngIf="o.todos.length > 0; else noItems">
      <ngb-tabset [justify]="'justified'">
        <ngb-tab title="All">
          <ng-template ngbTabContent>
            <todo-list-table [todos]="o.todos"></todo-list-table>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Ongoing">
          <ng-template ngbTabContent>
            <todo-list-table [todos]="o.pendingTodos"></todo-list-table>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Completed">
          <ng-template ngbTabContent>
            <table class="table table-striped table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>Completed Task</th>
                </tr>
              </thead>
              <tr *ngFor="let todo of o.completedTodos">
                <td>
                  <span>{{ todo.value }}</span>
                </td>
              </tr>
            </table>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</ng-container>

<ng-template #noItems>
  <div class="m-3 card bg-primary text-white">
    <div class="card-body">
      <p class="card-text">No todo item. You can start to create some!!!</p>
    </div>
  </div>
</ng-template>
