<div class="container-fluid" id="course-container">
  <div class="row course">
    <div class="col-md-6">
      <div class="row bg-secondary text-white">
        <span>Total Courses: {{ courseTotal$ | async }}</span>
      </div>
      <div *ngIf="(courses$ | async)?.length > 0 else noCourses">
          <div *ngFor="let course of courses$ | async" class="card mt-3"  (click)="selectCourse(course.id)">
            <div class="card-body">
               <h3 class="card-title">{{course.name}}</h3>
               <p class="card-text course-description">{{course.description}}</p>
               <h4 class="card-subtitle">{{course.instructorName}}</h4>
               <button type="button" class="btn btn-danger" (click)="deleteCourse(course.id)">Delete</button>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <pre>
        Current Course: {{ currentCourse | json }}
      </pre>
      <form #editCourseForm="ngForm" (ngSubmit)="updateCourse(); editCourseForm.reset()" class="mt-3">
        <div class="form-group">
          <label for="courseName">Name</label>
          <input type="text" class="form-control" id="courseName" name="courseName" aria-describedby="nameHelp"
            placeholder="Enter name" required [(ngModel)]="currentCourse.name" #validateName="ngModel"
            [ngClass]="{'has-danger': validateName.invalid && validateName.dirty }">
            <div class="text-danger" [hidden]="!validateName.errors?.required || validateName.pristine">
              Course name is a required field
            </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea  class="form-control" id="description" name="description" placeholder="Course Description"
            [(ngModel)]="currentCourse.description" maxlength="500" rows="10">
          </textarea>
        </div>
        <!-- todo Add course instructor -->
        <div class="form-group">
          <label for="courseInstructor">Course Instructor</label>
          <select id="courseInstructor" name="courseInstructor" [(ngModel)]="currentCourse.instructorId" required>
            <option *ngFor="let instructor of instructors$ | async" [value]="instructor.id">{{instructor.name}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="editCourseForm.form.invalid">Save</button>
        <button type="button" class="btn btn-danger" (click)="selectCourse(); editCourseForm.reset()">New</button>
      </form>
    </div>
  </div>
</div>

<ng-template #noCourses>
  <div class="mt-3 card bg-primary text-white">
    <div class="card-body">
      <p class="card-text">No course. You can start to create some!!!</p>
    </div>
  </div>
</ng-template>
