<div class="container-fluid" id="course-container">
  <div class="row course">
    <div class="col-md-6">
      <div class="row bg-secondary text-white">
        <span>Total Courses: {{ courseTotal$ | async }}</span>
      </div>
      <div *ngIf="(courses$ | async)?.length > 0 else noCourses">
          <div *ngFor="let course of courses$ | async" class="card mt-3"  (click)="selectCourse(course.rawCourse.id)">
            <div class="card-body">
              <div class="card-block">
                <h3 class="card-title">{{course.rawCourse.name}}</h3>
                <h6 class="card-subtitle text-muted">{{course.instructorName}}</h6>
               </div>
               <p class="card-text course-description">{{course.rawCourse.description}}</p>
               <button type="button" class="btn btn-danger" (click)="deleteCourse(course.rawCourse.id)">Delete</button>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-course-detail></app-course-detail>
    </div>
  </div>
</div>

<ng-template #noCourses>
  <div class="mt-3 card bg-primary text-white">
    <div class="card-body">
      <p class="card-text">No course. You can start to create some!!!</p>
    </div>
  </div>
</ng-template>
