@import "../variables";

$bg-color: #563d7c;

#main {
  .navbar {
    background: $bg-color;
  }

  .nav-link {
    color: #fff;
    &.active {
      color: #1299AE;
    }
  }

  .navbar-brand {
    color: #fff;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: $sticky-height;
    line-height: $sticky-height; /* Vertically center the text there */
    background-color: $bg-color;

    > .container {
      margin-left: 0;
      margin-right: 0;

      .text-muted {
        color: #fff !important;
      }
    }
  }
}
