#main {
  $banner-color: #e9ecef;

  .jumbotron {
    padding: 1rem 2rem;
    background: $banner-color;
  }

  .app {
    &-title {
      text-align: center;
    }
  }

  .navbar {
    background: #563d7c;
  }

  .nav-link {
    color: #fff;
    &.active {
      color: #1299AE;
    }
  }

  .navbar-brand {
    color: #fff;
  }
}
