<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron m-2">
  <h1 class="app-title">
    Welcome to {{title}}!
  </h1>
</div>
<div class="p-2">
  <form #form="ngForm" (ngSubmit)="addTodo()" class="form-inline">
    <div class="form-group">
      <input type="text" id="todo" class="form-control mb-2 mr-sm-2 mb-sm-0" name="todo" placeholder="Your todo" size="80" [(ngModel)]="todo" />
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</div>
<hr />
<div class="p-2">
  Number of todo items: {{ (todos$ | async)?.length }}
  <button (click)="removeTodos()" class="btn btn-danger">Remove all</button>
</div>
<div *ngIf="(todos$ | async)?.length > 0">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Task</th><th>Actions</th>
      </tr>
    </thead>
    <tr *ngFor="let todo of todos$ | async; let i = index">
      <td>
        <span [class.app-item-done]="todo.done" *ngIf="!isEditingRow(i)">{{ todo.value }}</span>
        <input type="text" size="80" id="editTodo" name="editTodo" [(ngModel)]="modTodo"
          *ngIf="isEditingRow(i) && !todo.done" class="form-control" />
      </td>
      <td>
        <button (click)="editTodo(todo, i)" *ngIf="!isEditingRow(i) && !todo.done" class="btn btn-light">
          Edit
        </button>
        <button (click)="updateTodo(modTodo)" *ngIf="isEditingRow(i) && !todo.done" class="btn btn-light">
          Update
        </button>
        <button (click)="cancelEdit()" *ngIf="isEditingRow(i) && !todo.done" class="btn btn-light">
          Cancel
        </button>
        <button (click)="toggleDone(todo, i)" class="btn btn-light">
          Toggle Done
        </button>
        <button (click)="deleteTodo(i)" class="btn btn-light">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="(todos$ | async)?.length === 0">
  No todo item!!!!
</div>
