<div class="container-fluid" id="container">
  <app-loader [condition]="instructorLoading$ | async"></app-loader>
  <div class="row instructor">
    <div class="col-md-6" *ngIf="(instructors$ | async) as instructors">
      <app-total-count [templateRef]="instructorCountRef"></app-total-count>
      <ng-container *ngIf="instructors.length > 0; else noInstructors">
        <div class="row">
          <div
            *ngFor="let instructor of instructors"
            class="card mt-3 col-md-6"
            (click)="selectInstructor(instructor.id)"
          >
            <app-card
              [nameTemplateRef]="nameTemplateRef"
              [actionsTemplateRef]="actionsTemplateRef"
              [descriptionTemplateRef]="descriptionTemplateRef"
            ></app-card>
            <ng-template #nameTemplateRef>{{ instructor.name }}</ng-template>
            <ng-template #actionsTemplateRef>
              <button
                type="button"
                class="btn btn-danger"
                (click)="
                  $event.stopPropagation(); deleteInstructor(instructor.id)
                "
              >
                Delete
              </button>
            </ng-template>
            <ng-template #descriptionTemplateRef>
              {{ instructor.description }}</ng-template
            >
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-md-6">
      <app-instructor-detail></app-instructor-detail>
    </div>
  </div>
</div>

<ng-template #noInstructors>
  <div class="mt-3 card bg-primary text-white">
    <div class="card-body">
      <p class="card-text">No instructor. You can start to create some!!!</p>
    </div>
  </div>
</ng-template>

<ng-template #instructorCountRef>
  <span>Total Instructors: {{ instructorTotal$ | async }}</span>
</ng-template>
